/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*
    STRUCTURE & TYPOGRAPHY
*/

body {
    margin: 0;
    padding: 0;
    /* Add a radial gradient background */
    background: radial-gradient(#E0E0E0, #BDBDBD);
}

/* #mapid {
    margin-top: 88px;
    max-width: 100%;
    height: 300px;
} */

header {
    background-color: #212121;
    z-index: 10; /* So the header will go over the map */
    /* Make the header always stick to the top of the screen */
    /* Don't let it cover up the map -- adjust the map */
}

article {
    padding-bottom: 2.0em;
    padding-top: 1.0em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
}

section {
    padding: 1.0em;
    margin: 0 auto;
    /* Don't let the text get too wide */
    width: 600px;
    max-width: 100%;
}

h1, h2, h3, p, li {
    /* Add Google Font 'Raleway'*/
    line-height: 1.3em;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0.8em 0;
}

h2 span {
    font-weight: normal;
}


/* MAP */
#mapid { 
    height: 300px;
    width: 100%;
    z-index: 0;
}

/*
    MENU
*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu {
	position: absolute;
	top: 20px;
	left: 20px;
    color: white;
}

.menu-text {
	text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

/* Menu icon */
.menu-icon {
    z-index: 100; /* in order to be seen over the map */
    /* position absolutely to the top left corner */
}

/* Side Nav CSS */
.sidenav {
    z-index: 1000; /* in order to be seen over the map */
}



/* MEDIA QUERIES */
/* Adjust the map to fill a reasonable portion of the screen */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* body { background-color: orange; } */
    #mapid { 
        height: 350px;
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* body { background-color: green; } */
    #mapid { 
        height: 400px;
        width: 100%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* body { background-color: blue; } */
    #mapid { 
        height: 450px;
        width: 100%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body { background-color: purple; } */
    #mapid { 
        height: 500px;
        width: 100%;
    }
}
